body {
    background-color: aquamarine;
}

.cuadro-desplegable {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 768px;
}

.titulo {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 2em;
    /* Evita que el texto se seleccione al hacer clic */
}

.contenido {
    display: none;
    /* Inicialmente oculto */
    padding: 10px;
}

.contenido.mostrar {
    display: block;
    background-color: rgb(171, 170, 170);
    font-size: 1.5em;
    /* Se muestra cuando está activo */
}

.icono {
    float: right;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.navegacion {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

}

.navegacion li {
    margin-right: 30px;
    font-size: 1.5em;

}

.navegacion li:hover {
    background-color: darkgray;
    color: white;


}

.imagen1 {
    width: 500px;

}

.contenedor-imagen1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

@media screen and (max-width: 768px) {
    .navegacion {
        max-width: 300px;
        /* Ajusta el ancho máximo de la lista */
        display: block;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
    }
}

.titulo_principal {
    text-align: center;
}