* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #946EFA;
    font-family: "Source Code Pro", monospace;
}

.cuadro-desplegable {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 768px;
}

.titulo {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 1.5em;
    /* Evita que el texto se seleccione al hacer clic */
}

.contenido {
    display: none;
    /* Inicialmente oculto */
    padding: 10px;
}

.contenido.mostrar {
    display: block;
    background-color: #CB82FA;
    font-size: 1.2em;
    /* Se muestra cuando está activo */
}

.icono {
    float: right;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}






.imagen1 {
    width: 500px;

}

.contenedor-imagen1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}



.titulo_principal {
    text-align: center;
    background-color: #C26EFA;
}

/* Estilos generales */

/* Estilos generales */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.nav-list li a:hover {
    text-decoration: none;
    background-color: burlywood;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 777px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);


    }

    .nav.visible {
        opacity: 1;
        visibility: visible;


    }

    .nav-list {
        flex-direction: column;
        align-items: end;



    }

    .nav-list li a {
        color: #ecececec;

    }
}

footer {
    text-align: center;
    margin-top: 4rem;
}